/* Stretch goals to separate file delivery with webpacker */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Stick&display=swap');

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
button {
  border: none;
  background: none;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}
/* ROOT CSS VARIABLES */
/* :root { */
/* Color Theme */
/* } */

/* BASE STYLES START */
/* Body HTML will change dynamicall */
body {
  height: 100%;
  width: 100%;
}
/****** SECTIONS *******
NOTE: will change when user enters dashboard
*/

section {
  /* NOTE: Styling shared by both login/signup and dashboard section */
  height: 100%;
  width: 100%;
}
/* BASE STYLES END */

/* NOTIFICATION START */
.notify {
  z-index: 1;
  width: 60vw;
  padding: 10px 30px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
}

.success span {
  color: green;
}

.failure span {
  color: red;
}
/* NOTIFICATION END */

/* BASE DASHBOARD SECTION START */
section.dashboard {
  display: grid;
  grid-template-columns: 225px auto;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100%;
}

section.dashboard .sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto;
}

section.dashboard .sidebar .navigation a {
  width: 100%;
  display: block;
  text-align: center;
  display: flex;
  padding: 5px 0 5px 0;
}

section.dashboard .sidebar .navigation a:hover {
  box-shadow: inset 0 0 10px 2px rgba(0, 53, 133, 0.8);
}

section.dashboard .sidebar .navigation a span {
  font-size: 1.125rem;
  margin-left: 20%;
  position: relative;
  z-index: -1;
}

/* section.dashboard .sidebar .logo {
}

section.dashboard .sidebar .client {

} */

/* section.dashboard .sidebar .client {

} */

section.dashboard .content.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

/* DASHBOARD SECTION END */

/* SIGNUP LOGIN SECTION START */
section.login-signup {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100%;
}
section.login-signup .container {
  display: flex;
}
section.login-signup .container .card {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: auto;
  width: 100%;
  max-width: 800px;
  min-width: 500px;
}

/* SIGNUP FORM ONLY START */
section.login-signup .container .inner-card {
  /* display: block; */
  margin: auto;
  max-width: 500px;
  min-width: 300px;
  background: lightblue;
}

section.login-signup .container .inner-card .signup-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 1fr;
}
/* SIGNUP FORM ONLY END */

/* LOGIN SIDE START */
section.login-signup .container .card .login {
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  background: #1d649f;
}
/* LOGIN UPPER START */
section.login-signup .container .login .login-upper {
  display: flex;
  padding: 20% 0;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
/* LOGIN UPPER END */

/* LOGIN LOWER START */
section.login-signup .container .login .login-lower {
  padding: 0 15px;
}
section.login-signup .container .login .login-lower .form {
  height: 100%;
}
section.login-signup .container .login .login-lower form {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: space-between;
}

/* Username Label */
section.login-signup .container .login .login-lower form label[for="username"] {
  display: block;
  text-align: center;
}
section.login-signup .container .login .login-lower form input.username {
  line-height: 2rem;
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}
section.login-signup .container .login .login-lower form button {
  cursor: pointer;
  display: block;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  background: rgb(226, 226, 226);
  padding: 10px 35px;
  border: none;
  border-radius: 8px;
}
/* LOGIN LOWER END */
/** LOGIN SIDE END **/

/* SIGNUP SIDE START */
section.login-signup .container .signup {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 10% 22% 8% 1fr;
  height: 100%;
  width: 100%;
  background: #15e398;
}

section.login-signup .container .signup .motto {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.login-signup .container .signup .motto h2 {
  text-align: center;
}

section.login-signup .container .signup .services {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section.login-signup .container .signup .sign {
  text-align: center;
}

section.login-signup .container .signup .register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

section.login-signup .container .signup .register button {
  margin: auto;
  font-size: 1rem;
  background: rgb(226, 226, 226);
  border-radius: 8px;
  padding: 10px 15px;
}

/* LOGIN SIGNUP SECTION END */

/* BRING TO TOP UNDER "DASHBOARD" */

/* DASHBOARD CLIENT CONTENT AREA */

/* DASHBOARD CLIENT HEADER START*/
section.dashboard .content.container .content-header {
  display: grid;
  grid-template-columns: 10% 1fr 1fr;
  grid-template-rows: 1fr;
}

section.dashboard .content.container .content-header .navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

section.dashboard .content.container .content-header .navigation a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  display: flex;
  padding: 5px 0 5px 0;
}

section.dashboard .content.container .content-header .navigation a:hover {
  box-shadow: inset 0 0 10px 2px rgba(0, 53, 133, 0.8);
}

section.dashboard .content.container .content-header .navigation a span {
  font-size: 1.125rem;
  margin: auto;
  position: relative;
  z-index: -1;
}
/* DASHBOARD CLIENT HEADER END */

section.dashboard .content.container .client {
  padding: 20px;
}

section.dashboard .content.container .client .contract-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
  gap: 5px;
  overflow: scroll;
}

section.dashboard
  .content.container
  .client
  .contract-grid
  .contract-grid-item {
  display: grid;
  height: 40%;
  grid-template-rows: repeat(4, 25%);
  grid-template-areas:
    "title title status"
    "fl_name . price"
    "description description description"
    "start_date . more_details";
  overflow: hidden;
  background: whitesmoke;
  border-radius: 5px;
}

section.dashboard
  .content.container
  .client
  .contract-grid
  .contract-grid-item
  .contract-title {
  font-size: 1.125rem;
}

section.dashboard
  .content.container
  .client
  .contract-grid
  .contract-grid-item
  .contract-status.pending {
  color: rgb(255, 220, 61);
}
section.dashboard
  .content.container
  .client
  .contract-grid
  .contract-grid-item
  .contract-status.completed {
  color: green;
}
section.dashboard
  .content.container
  .client
  .contract-grid
  .contract-grid-item
  .contract-status.delayed {
  color: rgb(128, 0, 0);
}

section.dashboard
  .content.container
  .client
  .contract-grid
  .contract-grid-item
  > * {
  overflow: hidden;
}

section.dashboard
  .container
  .client
  .contract-grid
  .contract-grid-item
  .contract-title {
  word-wrap: break-word;
}

section.dashboard
  .container
  .client
  .contract-grid
  .contract-grid-item
  .contract-title:hover {
  overflow: scroll;
  z-index: 2;
}

section.dashboard
  .container
  .client
  .contract-grid
  .contract-grid-item
  .contract-more-details {
  border: none;
  background: rgb(218, 218, 218);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Stick', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(#341671, #15e398);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}